
.demoPage {
  width: 400px;
  height: 600px;
  box-shadow: 20px 20px 50px 50px grey;
  position: absolute;

}

.AudioPlayer {
  position: fixed;
  width: 200px;
  height: 30px;
  top: 5px;
  left: 90px;
}

.Image {
  width: 400px;
  height: 600px;
}

img {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  position: fixed;
  top: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-2 {
  height: 40px;
  display: flex;
  align-items: center;
}

.buttonsSandD {
  width: 100%;
}

.column-3 {
  width: 50%;
  height: 40px;
  text-align: center;
}

.column-4 {
  width: 50%;
  height: 40px;

}

.column-5 {
  width: 100%;
  height: 40px;
  display: flex;
  text-align: end;
}
.submitText{
  width: 70%;
}
.AudiSubmitImage{
  width: 10%;
  height: 30px;
}